- content_for(:title) { "Dag sluiten" }

= form_for @shift, url: settings_shift_path(@shift), html: {style: 'padding-top: 24px'}, data: {remote: true} do |f|
  = f.label :cash_counted, class: 'form-label'
  .form-group{style: "margin-bottom: 20px"}
    = f.text_field :cash_counted, value: nil, placeholder: number_with_precision(f.object.cash_counted, precision: 2), class: 'form-control'
    .form-input-message.text-muted
      verwacht:
      = number_to_currency @expected_balance

  = f.label :cash_left, class: 'form-label'
  .form-group{style: 'margin-bottom: 20px'}
    = f.text_field :cash_left, value: nil, placeholder: number_with_precision(f.object.cash_left, precision: 2), class: 'form-control'

  = f.label :note, class: 'form-label'
  .form-group
    = f.text_field :note, value: nil, placeholder: "Notitie", class: 'form-control'

  = f.submit "Save", {style: 'visibility: hidden'}