- content_for(:title) { "Kortingscode" }

= form_for @order, url: add_discount_pos_orders_path, method: :post, html: {id: 'order_discount_form'}, data: {remote: true} do |f|
  = f.submit 'Save', style: 'display: none'

  %div{style: 'margin-top: 40px'}

  = label_tag :discount, 'Code', class: 'form-label'

  .form-group
    .form-input-message.form-input-message-error
    .form-select-container
      = select_tag :discount, options_for_select(Spina::Shop::Discount.multiple_use.to_a.keep_if{|d| d.active?}.map{|d| [d.description + " (#{d.code})", d.code]}, @order.discount.try(:code)), prompt: "Kies een kortingscode"
