- content_for(:title) { @product.name }

.product-show
  .product-image
    = image_tag image_variant(@product.product_images.first, resize: '500x500')

  .product-description
    != @product.description

    .product-purchase
      - if @product.purchasable?
        = link_to 'In winkelmand', add_product_orders_path(product_id: @product.id), class: 'button button-block', data: {remote: true, method: :post}

      - @product.variants.each do |variant|
        = link_to variant.variant_name || "(geen naam ingesteld)", add_product_orders_path(product_id: variant.id), class: 'button', style: "margin: 5px", data: {remote: true, method: :post}

    %table{style: 'width: 100%'}
      %tr
        %th{width: 200} Voorraad
        %td= @product.stock_level
        
      %tr
        %th{width: 200} Locatie
        %td= @product.location

    %table{style: 'width: 100%'}
      - if @product.product_category.present?
        - @product.product_category.product_properties.order(:label).each do |property|
          - if @product.properties[property.name].present?
            %tr
              %th{width: 200}= property.label
              %td= render partial: 'property', locals: {product: @product, property: property}