= form_tag spina_pos.post_login_path, id: "login_wrapper" do
  - if flash[:alert].present?
    .notification.notification-danger
      = flash[:alert]
  = text_field_tag :email, params[:email], placeholder: Spina::User.human_attribute_name(:email), autofocus: true
  = password_field_tag :password, nil, placeholder: Spina::User.human_attribute_name(:password)
  = button_tag t('spina.login'), class: 'button button-primary', data: {icon: '3'}
